/* line 1, ../../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../../sass/partials/_layout.scss */
body, html {
  min-height: 100%;
  width: 100%;
}

/* line 2, ../../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 31, ../../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: fixed;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: fixed;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: fixed;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 2, ../../sass/partials/_modules_init.scss */
.comingsoon-s1, .error-s1, .privacy-s1 {
  min-height: calc( 100vh - 0px );
  min-height: -o-calc( 100vh - 0px );
  min-height: -moz-calc( 100vh - 0px );
  min-height: -webkit-calc( 100vh - 0px );
}

/* line 6, ../../sass/partials/_modules_init.scss */
.box-shadow {
  box-shadow: 2px 2px 5px #333 !important;
}

/* line 21, ../../sass/partials/_modules_init.scss */
.opacity-8 {
  opacity: 0.8;
}

/* line 26, ../../sass/partials/_modules_init.scss */
.privacy-container {
  background-color: #333 !important;
  opacity: 0.8;
}

/* line 35, ../../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 4px #000;
}

/* line 41, ../../sass/partials/_modules_init.scss */
.z-index-0 {
  z-index: 0;
}
/* line 44, ../../sass/partials/_modules_init.scss */
.z-index-10 {
  z-index: 10;
}
/* line 47, ../../sass/partials/_modules_init.scss */
.z-index-100 {
  z-index: 100;
}
