@font-face {
  font-family: "KaushanScript";
  src: url("../fonts/KaushanScript-Regular.ttf");
}
/* line 1, ../../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../../sass/partials/_layout.scss */
body, html {
  min-height: 100%;
  width: 100%;
}

/* line 2, ../../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}
/* line 14, ../../sass/partials/_minh.scss */
.minh-footer-adj {
  min-height: calc( 100vh - 56px );
  min-height: -o-calc( 100vh - 56px );
  min-height: -moz-calc( 100vh - 56px );
  min-height: -webkit-calc( 100vh - 56px );
}

/* line 2, ../../sass/partials/_modules.scss */
.bg-classes {
  background-attachment: scroll;
  background-image: url(../img/classes.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 5, ../../sass/partials/_modules.scss */
.bg-green-gray {
  background-color: #deeee7 !important;
}
/* line 8, ../../sass/partials/_modules.scss */
.bg-footer {
  background-attachment: scroll;
  background-image: url(../img/footer.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 11, ../../sass/partials/_modules.scss */
.bg-light-gray {
  background-color: #f2f8f4 !important;
}

/* line 16, ../../sass/partials/_modules.scss */
.border-caption {
  border-color: #98c1bb !important;
}
/* line 19, ../../sass/partials/_modules.scss */
.border-green-gray {
  border-color: #9bcbb6 !important;
}

/* line 24, ../../sass/partials/_modules.scss */
.contact-bg {
  background-color: #f2f8f4;
}
/* line 28, ../../sass/partials/_modules.scss */
.contact-form ::-webkit-input-placeholder {
  color: #98c1bb;
}
/* line 31, ../../sass/partials/_modules.scss */
.contact-form ::-moz-placeholder {
  color: #98c1bb;
}
/* line 34, ../../sass/partials/_modules.scss */
.contact-form :-ms-input-placeholder {
  color: #98c1bb;
}
/* line 37, ../../sass/partials/_modules.scss */
.contact-form :-moz-placeholder {
  color: #98c1bb;
}

/* line 43, ../../sass/partials/_modules.scss */
.login-form, .register-form {
  background-attachment: scroll;
  background-image: url(../img/login.jpg);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 46, ../../sass/partials/_modules.scss */
.login-form ::-webkit-input-placeholder, .register-form ::-webkit-input-placeholder {
  color: #98c1bb;
}
/* line 49, ../../sass/partials/_modules.scss */
.login-form ::-moz-placeholder, .register-form ::-moz-placeholder {
  color: #98c1bb;
}
/* line 52, ../../sass/partials/_modules.scss */
.login-form :-ms-input-placeholder, .register-form :-ms-input-placeholder {
  color: #98c1bb;
}
/* line 55, ../../sass/partials/_modules.scss */
.login-form :-moz-placeholder, .register-form :-moz-placeholder {
  color: #98c1bb;
}

/* line 66, ../../sass/partials/_modules.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 69, ../../sass/partials/_modules.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 74, ../../sass/partials/_modules.scss */
.text-caption {
  color: #98c1bb !important;
}
/* line 77, ../../sass/partials/_modules.scss */
.text-green-gray {
  color: #9bcbb6 !important;
}

/* line 81, ../../sass/partials/_modules.scss */
h1, h2, h3, h4, h5, h6, .nav-link {
  font-family: "KaushanScript";
  letter-spacing: 2px;
}

/* line 85, ../../sass/partials/_modules.scss */
textarea {
  resize: none;
}

/* line 31, ../../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: fixed;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: fixed;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: fixed;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 2, ../../sass/partials/_modules_init.scss */
.comingsoon-s1, .error-s1, .privacy-s1 {
  min-height: calc( 100vh - 0px );
  min-height: -o-calc( 100vh - 0px );
  min-height: -moz-calc( 100vh - 0px );
  min-height: -webkit-calc( 100vh - 0px );
}

/* line 6, ../../sass/partials/_modules_init.scss */
.box-shadow {
  box-shadow: 2px 2px 5px #333 !important;
}

/* line 21, ../../sass/partials/_modules_init.scss */
.opacity-8 {
  opacity: 0.8;
}

/* line 26, ../../sass/partials/_modules_init.scss */
.privacy-container {
  background-color: #333 !important;
  opacity: 0.8;
}

/* line 35, ../../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 4px #000;
}

/* line 41, ../../sass/partials/_modules_init.scss */
.z-index-0 {
  z-index: 0;
}
/* line 44, ../../sass/partials/_modules_init.scss */
.z-index-10 {
  z-index: 10;
}
/* line 47, ../../sass/partials/_modules_init.scss */
.z-index-100 {
  z-index: 100;
}
