.minh{
    &-25vh{
        min-height: 25vh;
    }
    &-50vh{
        min-height: 50vh;
    }
    &-75vh{
        min-height: 75vh;
    }
    &-100vh{
        min-height: 100vh;
    }
    &-footer-adj{
        @include calc-param(min-height,100vh,$footer__height);
    }
}
