.bg{
    &-classes{
        @include set-background($bg__classes-img,0,"top center","cover","scroll");
    }
	&-green-gray{
		background-color: $color__green-gray!important;
	}
    &-footer{
        @include set-background($bg__footer-img,0,"top center","cover","scroll");
    }
    &-light-gray{
      background-color: $color__light-gray!important;
    }
}
.border{
  	&-caption{
		  border-color: $color__caption!important;
	}
	&-green-gray{
		border-color: darken($color__green-gray,20%)!important;
	}
}
.contact{
    &-bg{
      background-color: $color__light-gray
    }
    &-form {
        ::-webkit-input-placeholder { 
            color: $color__caption;
          }
          ::-moz-placeholder { 
            color:  $color__caption;
          }
          :-ms-input-placeholder { 
            color:  $color__caption;
          }
          :-moz-placeholder { 
            color:  $color__caption;
          }
    }
}
.login{
    &-form {
        @include set-background($bg__login-img,0,"bottom left","cover","scroll");

        ::-webkit-input-placeholder { 
            color:  $color__caption;
          }
          ::-moz-placeholder { 
            color:  $color__caption;
          }
          :-ms-input-placeholder { 
            color:  $color__caption;
          }
          :-moz-placeholder { 
            color:  $color__caption;
          }
    }
}
.register{
    &-form{
        @extend .login-form;
    }
}
.opacity{
    &-8{
        opacity: 0.8;
    }
	&-9{
		opacity: 0.9;
	}
}
.text{
	&-caption{
		color: $color__caption!important;
	}
	&-green-gray{
		color: darken($color__green-gray,20%)!important;
	}
}
h1,h2,h3,h4,h5,h6,.nav-link{
    font-family: "KaushanScript";
    letter-spacing: 2px;
}
textarea{
    resize: none;
}