@include aoa-bg-series($bg__classes,$bg__aoa);
%bg-tmp{
    @include calc-param(min-height, $section__min-height, $header__height);
}
.box{
    &-shadow{
        box-shadow: $box__shadow !important;
    }   
}
.comingsoon{
    &-s1{
        @extend %bg-tmp;
    }
}
.error{
    &-s1{
        @extend %bg-tmp;
    }
}
.opacity{
    &-8{
        opacity:0.8;
    }
}
.privacy{
    &-container{
        background-color: $color__container-bg !important;
        opacity: 0.8;
    }
    &-s1{
        @extend %bg-tmp;
    }
}
.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}
.z{
    &-index{
        &-0{
            z-index: 0;
        }
        &-10{
            z-index:10;
        }
        &-100{
            z-index: 100;
        }
    }
}