$bg__comingsoon-img: "../img/coming.jpg";
$bg__error-img: $bg__comingsoon-img;
$bg__privacy-img: $bg__comingsoon-img;
$bg__classes:
    "error",
    "comingsoon",
    "privacy";
$bg__aoa:
    $bg__error-img,
    $bg__comingsoon-img,
    $bg__privacy-img;
$box__shadow: 2px 2px 5px #333;
$color__container-bg: #333;
$color__shadow: #000;
$header__height: 0px;
$section__min-height: 100vh;
$text__shadow: 1px 1px 4px $color__shadow;
